@model ClienteApp.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Cliente Ativo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteAtivo)
        </dd>
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Data de Nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            Município
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class = "col-sm-2">
            Data do Contrato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataContrato)
        </dd>
        <dt class = "col-sm-2">
            Data de Inclusão
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>
        <dt class = "col-sm-2">
            Valor Mensal (Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMensalContrato)
        </dd>
        <dt class = "col-sm-2">
            Observações
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
